footer {
    background-color: #202020;
margin: auto;
padding: 50px 0 50px 0;

}

.footer_title {

    color: white;

    text-align: center;

}

.newsletter_container {
    margin: auto;
    width: 100%;
    text-align: center;

}