header {
  position: fixed;
  width: 100%;
}

svg {
    width: 3rem;
}

.header_container {
  width: 90%;
  display: flex;
  margin: auto;
  padding: 50px 0 0 0;
}

.site_title {
  font-size: 1.5rem;
  width: 30%;
}

.site_nav {
    margin-top: -8px;
  font-family: "basier_circleregular";
  font-size: .9rem;
  width: 70%;
  text-align: right;
  line-height: 25px;


  a {
      text-decoration: none;
    padding-left: 25px;
    color: #202020;
  }

  a:hover {
    text-decoration: line-through;
    cursor: pointer;
  }
}


@media only screen and (max-width: 728px) {
   .header_container {
    padding: 25px 0 25px 0;
   } 
}
