$backgroundColor: white;
$bodyColor: #202020;
$bodyFont: "basier_circleregular";


// * {
//   border-style: solid;
//   border-width: 1px;
// }

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 0.9rem;
  line-height: 25px;
  margin: 0;
  padding: 0;
}
