.PageNavigation {
    font-family: "basier_circleregular";
    text-transform: uppercase;
    font-size: .9rem;
    display: block;
    width: auto;
    overflow: hidden;
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
  }
  
  .PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
    text-decoration: none;
    color: #909090;
  }

  .PageNavigation a:hover {
      text-decoration: line-through;
  }
  
  .PageNavigation .next {
    text-align: right;
  }


  @media only screen and (max-width: 728px) {
    .PageNavigation {

        padding-bottom: 15px;
      }
  }
  