// * {
//     border-style: solid;
//     border-width: 1px;
// }

.post_content {
    line-height: 1rem;
    width: 80%;
    margin: auto;
    padding: 150px 0 150px 0;

}

.post_content img {
    width: 100%;
}