.post_author {
  text-transform: uppercase;
  padding-right: 15px;

  font-size: 0.9rem;
  color: #909090;
  font-family: "basier_circleregular";
}

.post_date {
  padding-left: 15px;

  font-size: 0.9rem;
  color: #909090;
  font-family: "basier_circleregular";
}

.post_title {
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-weight: 100;
  font-size: 3rem;
  text-decoration: none;
  color: #202020;
  line-height: 4rem;
  a {
    text-decoration: none;
    color: #202020;
  }
  a:hover {
    text-decoration: line-through;
  }
}


.art_title {
    font-family: "Vollkorn", serif;
    font-style: italic;
    font-weight: 100;
    font-size: 3rem;
    text-decoration: none;
    color: #ffffff;
    line-height: 4rem;
    a {
      text-decoration: none;
      color: #ffffff;
    }
    a:hover {
      text-decoration: line-through;
    }
  }
  

.art_title img {
    max-height: 300px;

    }
    img:hover {
        opacity: .5;
}


@media only screen and (max-width: 728px) {
    .art_title img {
        max-height: 100%;
      width: 100%;

    }
  }


  @media only screen and (max-width: 1024px) and (min-width: 729px) {
    .art_title img {
max-height: 100%;
      width: 80%;

    }
  }
