<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>
  {% include header.html %}
  {{ content}}

  <body>
    <div class="featured_image">
  <img src="{{site.baseurl}}/assets/images/003.jpg">

  </div>
  
    <div class="landing"></div>
  
    <div class="post_container">
  
      <div class="category_header">RECENT POETRY</div>
  
      {% for post in site.posts limit:3 %}
      <article>
        <h2>
          <a href="{{site.baseurl}}{{ post.url }}">
            {{ post.title }}
          </a>
        </h2>
        <div class="info">
          <h3>{{ post.author }}</h3>
          <div class="divider"></div>
          <!-- {{ post.content }} -->
          <h4><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time></h4>
  
      </article>
      {% endfor %}
  
      <div class="category_footer"><a>SEE MORE</a></div>
  
    </div>
    </div>
  
  
    </div>
  
    </body>

  {% include footer.html %}

</body>

</html>