<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>
  {% include header.html %}
  {{ content}}

  <body>
    <div class="featured_image">
      {% if page.image %}
      <img class="image" src="{{site.baseurl}}{{ page.image }}" alt="Image" />
      {% endif %}

     
    </div>


    <div class="featured_imageinfo">
      {%- if page.piece_name -%}
      {% for piece_name in page.piece_name %}
      <span itemprop="piece_name" itemscope itemtype="http://schema.org/Person">
          <span class="p-piece_name h-card" itemprop="name">{{ piece_name }} </span></span>
      {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
      {%- endif -%}


<br>
      {%- if page.artist -%}
      {% for artist in page.artist %}
      <span itemprop="artist" itemscope itemtype="http://schema.org/Person">
          <span class="p-artist h-card" itemprop="name">{{ artist }} </span></span>
      {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
      {%- endif -%}
, 
      {%- if page.year -%}
      {% for year in page.year %}
      <span itemprop="year" itemscope itemtype="http://schema.org/Person">
          <span class="p-year h-card" itemprop="name">{{ year }} </span></span>
      {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
      {%- endif -%}
    </div>



    <div class="landing"></div>

    <div class="post_container">
      <div class="category_header">LTERATURE + POETRY</div>

      {% for post in site.categories.poetry limit:3 %}

      <article class="post">

        <div class="post_title">
          <h1>
            <a href="{{site.baseurl}}{{ post.url }}">
              {{ post.title }}
            </a>
          </h1>
        </div>
        <div class="info">
          <div class="index_postheader">{{ post.author }}</div>
          <div class="divider"></div>
          <!-- {{ post.content }} -->
          <div class="index_postsubheader"><time
              datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time></div>

      </article>
      {% endfor %}

      <div class="category_footer"><a href="{{{ site.url }}{{ site.baseurl }}/poetry">SEE MORE</a>
    </div>


    <div class="art_container">
      <div class="category_header">ART</div>
      <div class="art_subcontainer">


        {% for post in site.categories.art limit:4 %}

        <article class="art">

          <div class="art_title">
            <a href="{{site.baseurl}}{{ post.url }}">
            <img src="{{site.baseurl}}{{ post.image }}">
            </a>
            <h1>
              <a href="{{site.baseurl}}{{ post.url }}">
    
                {{ post.title }}
              </a>
            </h1>
          </div>
          <div class="info">
            <div class="index_postheader">{{ post.author }}</div>
            <div class="divider"></div>
            <!-- {{ post.content }} -->
            <div class="index_postsubheader"><time
                datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time></div>

        </article>
        {% endfor %}

       
      </div>

      <div class="category_footer"><a>SEE MORE</a></div>
    </div>


    </div>


    </div>

  </body>

  {% include footer.html %}

</body>

</html>