<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>

    {% include header.html %}

    <div class="post_content">

        <h1 class="post_title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">

            <div class="post_subheader">
                <div class="post_author">
                    {%- if page.author -%}
                    {% for author in page.author %}
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span class="p-author h-card" itemprop="name">{{ author }} </span></span>
                    {%- if forloop.last == false %}, {% endif -%}
                    {% endfor %}
                    {%- endif -%}
                </div>

                |

                <div class="post_date">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ page.date | date: date_format }}
                    </time>
                    {%- if page.modified_date -%}
                    ~
                    {%- assign mdate = page.modified_date | date_to_xmlschema -%}
                    <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
                        {{ mdate | date: date_format }}
                    </time>
                    {%- endif -%}
                </div>
            </div>



        </p>


        <article>
            {% if page.image %}
              <img class="image" src="{{site.baseurl}}{{ page.image }}" alt="Image"/>

            {% endif %}
          </article>

        <br>




        {{ content}}


    </div>

    <div class="featured_image">
        <img src="../../assets/images/003.jpg">
    </div>







    </div>


    </div>

    {% include footer.html %}

</body>

</html>